
*
    font-family: 'Poppins', sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0

.container
    width: 1140px
    margin: 0 auto

@import base/variables
@import base/mixins

@import blocks/title
@import blocks/btn
@import blocks/main
@import blocks/sidepanel