.about
    font-family: 'Caveat Regular'
    min-height: 500px
    .row, .col-md-4
        padding: 0
        margin: 0
    &__photo
        width: 100%
    .carousel
        height: 100%
        width: 100%
        li
            background-color: #000
            width: 45px
            height: 8px
    .carousel-inner
        display: flex
        align-items: center
        padding: 80px 60px
        .why
            font-size: 30px
            h3
                font-weight: 700
                font-size: 35px
        .carousel-item
            font-size: 35px
            a
                color: #000
                text-decoration: none
            table
                display: flex
                justify-content: center
                align-items: center
