.about
    padding: 50px 0
    &__wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        img
            width: 75%
        .suptitle
            grid-column: 3
        .title
            grid-column: 3
            grid-row: 2/3
    &__descr
        padding: 7px 0 0
