@media  ( max-width: 1300px )
    .container
        max-width: 1000px

    .about
        &__subtitle
            font-size: 22px
@media  ( max-width: 1200px )
    .container
        max-width: 920px
        padding: 0 0 0 50px
    .main
        &__subtitle
            font-size: 48px

    .sidepanel
        height: 395px

    .about
        &__wrapper
            column-gap: 40px
            row-gap: 25px
            grid-template-rows: 1fr auto
        &__text
            font-size: 16px
        &__subtitle
            font-size: 19px

@media  ( max-width: 992px )
    .container
        max-width: 720px

    .main
        background-size: 70%
        &__text
            width: 400px
        &__title
            font-size: 16px
        &__subtitle
            font-size: 32px
            line-height: 52px
            padding: 25px 0

    .about
        .container
            padding: 0 0 0 25px
        &__wrapper
            grid-template-columns: 1fr 1fr
            padding: 0
        &__skills
            grid-template-columns: 1fr
        &__subtitle
            font-size: 18px

@media  ( max-width: 768px )
    .container
        max-width: 90vw

    .main
        background-position: 100% 50%
        background-size: 95%
        .hamburger
            top: 2%
            left: 90%
        &__text
            left: 5%
            top: 4%
        &__title
            font-size: 22px
        &__subtitle
            font-size: 32px
            line-height: 45px
        &__btns
            left: 5%
            bottom: 5%
    .sidepanel
        display: none

    .about
        .container
            padding: 0
        &__wrapper
            grid-template-rows: 1fr auto
        &__subtitle
            line-height: 30px
            font-size: 19px
            margin: 15px 0 0
        &__photo
            grid-row: unset
            img
                height: 100%
                object-fit: cover
        &__skills
            grid-column: 1/3
            grid-template-columns: repeat(2, .5fr)
@media  ( max-width: 576px )
    .container
        width: 100%
        padding: 0 15px

    .main
        background-size: cover
        .hamburger
            left: 82%
        &__text
            width: 280px
        &__title
            font-size: 18px
        &__subtitle
            font-size: 25px
            line-height: 35px
        &__btns
            left: 50%
            transform: translateX(-50%)

    .about
        &__wrapper
            grid-template-columns: 1fr
            grid-template-rows: 600px auto auto
            column-gap: 0
            grid-auto-rows: auto
        &__descr
            grid-column: 1
        &__skills
            grid-template-columns: 1fr
            row-gap: 30px

@media  ( max-width: 370px )
    .menu
        &__block
            width: 100vw
        &__social
            bottom: 25px
            i
                font-size: 15px
    .main
        &__text
            width: 270px
        &__title
            font-size: 16px
        &__subtitle
            font-size: 22px

    .about
        &__wrapper
            grid-template-columns: 1fr
            grid-template-rows: 400px auto auto
