@media  ( max-width: 1200px )
    .container
        max-width: 960px

@media  ( max-width: 992px )
    .container
        max-width: 720px

    .main
        background-size: 70%
        &__title
            font-size: 16px
        &__subtitle
            font-size: 28px

@media  ( max-width: 768px )
    .container
        max-width: 540px

    .main
        background-size: cover
        background-position: 100% 50%
        .hamburger
            top: 5%
            right: 10%
        &__text
            left: 5%
            top: 5%
        &__title
            font-size: 17px
        &__subtitle
            font-size: 28px
            line-height: 45px
        &__btns
            left: 5%
            bottom: 10%
    .sidepanel
        display: none

@media  ( max-width: 576px )
    .container
        width: 100%
        padding: 0 15px

    .main
        background-position: 100% 100%
        padding: 70px 0 0 20px
        &__text
            width: 250px
        &__title
            font-size: 12px
        &__subtitle
            font-size: 22px
            line-height: 30px
        &__btns
            left: 50%
            transform: translateX(-50%)

@media  ( max-width: 340px )
    .main
        &__text
            width: 250px
        &__title
            font-size: 11px
        &__subtitle
            font-size: 20px
            line-height: 25px
