.main
    position: relative
    height: 100vh
    width: 100vw
    background: url(../img/main-bg.jpg) no-repeat right 50% / 55%, #000
    color: #fff
    &__title
        font-size: 18px
        line-height: 25px
    &__link
        color: #fff
        text-decoration: none
    &__text
        position: absolute
        top: 25%
        left: 15%
        width: 400px
    &__btns
        position: absolute
        bottom: 40%
        left: 15%
        display: flex
        justify-content: space-between
        align-items: center
        width: 250px
        font-weight: bold
    &__subtitle
        padding: 20px 0
